<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="currentMetal" serializeAs="String">
                <value />
            </setting>
            <setting name="currentCrystal" serializeAs="String">
                <value />
            </setting>
            <setting name="currentDeut" serializeAs="String">
                <value />
            </setting>
            <setting name="keepMetal" serializeAs="String">
                <value />
            </setting>
            <setting name="keepCrystal" serializeAs="String">
                <value />
            </setting>
            <setting name="keepDeut" serializeAs="String">
                <value />
            </setting>
            <setting name="convertMetal" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="convertCrystal" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="convertDeut" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="convertCheck" serializeAs="String">
                <value>Metal</value>
            </setting>
            <setting name="whatBuildCheck" serializeAs="String">
                <value>Mine</value>
            </setting>
            <setting name="mineSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="buildingSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="researchSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="level" serializeAs="String">
                <value />
            </setting>
            <setting name="multiplier" serializeAs="String">
                <value />
            </setting>
            <setting name="singlerange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="level2" serializeAs="String">
                <value />
            </setting>
            <setting name="level3" serializeAs="String">
                <value />
            </setting>
            <setting name="level4" serializeAs="String">
                <value />
            </setting>
            <setting name="level5" serializeAs="String">
                <value />
            </setting>
            <setting name="levelTarget" serializeAs="String">
                <value />
            </setting>
            <setting name="multiplier2" serializeAs="String">
                <value />
            </setting>
            <setting name="multiplier3" serializeAs="String">
                <value />
            </setting>
            <setting name="multiplier4" serializeAs="String">
                <value />
            </setting>
            <setting name="multiplier5" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>